<!doctype html>
<html>
  <head>
    <title>Testshot</title>
  </head>
  <body>
    <script type="text/javascript">
      // Web Socket URL for communication with CI
      window.__testshotWSURL = "<%= wsURL %>"
    </script>
    <script type="text/javascript" src="<%= entryPath %>"></script>
  </body>
</html>
